* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.category-btn {
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;

    padding: 7px 15px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.category-btn:hover {
    background-color: #1e90d2ff !important;
    color: white !important;
}

.category-btn:hover span{
    color: white !important;
}